body {
    font-family: sans-serif;
    background-color: #f9f6f1;
    scroll-behavior: smooth;
    color: #2b2b2b;
}

p {
    margin-bottom: 0px;
}

header {
    background: linear-gradient(145deg, #f5ede6, #efe7df);
    font-size: 18px;
    color: #2b2b2b;
}

header a:hover {
    color: #5a5a5a;
    transition: all 1s ease-in-out;
}

#firstSection {
    background-color: #eae4df;
}

#secondSection {
    background-color: #fdf3ed;
}

#thirdSection {
    background-color: #d2bba7;
}

#github-link {
    text-decoration: none;
    color: #5a5a5a;
}

#github-link:hover {
    color: #fff;
    transition: all 0.4s ease-in-out;
}

.projects-image-div {
    overflow: hidden;
}

.projects-image:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.projects-btn {
    background-color: #7d6e6e;
    color: #fff;
    padding: 0.8rem 2rem;
    
}

.projects-btn:hover {
    background-color: #d2bba7;
    transition: all 0.4s ease-in-out;
}

#fourthSection {
    background-color: #efe7df;
}

.social-icons {
    font-size: 32px;
    color: #7d6e6e;
}

.social-icons:hover {
    color: #5a5a5a;
    transition: all 0.5s ease-in-out;
}

footer {
    background-color: #eae4df;
    color: #7a7a7a;
}

#scrollToTop {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #7d6e6e;
    color: #fff;
    border: none;
    padding: 1rem 1.4rem;
    font-size: 16px;
    border-radius: 50%;
    visibility: hidden;
    cursor: pointer;
    z-index: 999;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

#scrollToTop.visible {
    opacity: 1;
}

#scrollToTop:hover {
    background-color: #d2bba7;
    transition: all 0.4s ease-in-out;
}